### https://raw.github.com/github/gitignore/f31b319dca10213163411cb710c27dc37ed3eac5/Node.gitignore
*-debug.log
*-error.log
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
.env
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
lib-cov
logs
node_modules
npm-debug.log
pids
results
